#moveStraightButton{

  	position:absolute;      left:155px;}

     

  	#moveRightButton{

  	position:absolute;

      right:5px;}

      

  	html{

  	background-color:dodgerblue;}

  

  	button{

  	background-color:black;

      color:white; 

      border:none;

      font-size:25px;}

      

      button:active{

      	background-color:red;}

      

  	.grid {

  width: 400px;

  height: 600px;

  background-image:url("https://i.gifer.com/nyh.gif");

  background-position:center;

position: relative;

  font-size: 200px;

  text-align: center;

}

.doodler {

  width: 87px;

  height: 85px;

  background-image: url('https://www.linkpicture.com/q/doodler-guy.png');

  position: absolute;

}

.platform {

  width: 85px;

  height: 15px;

  background-image: url('https://www.linkpicture.com/q/platform.png');

  position: absolute;

}
