   #anim1{ -webkit-animation: cssAnimation 1s forwards; 

    animation: cssAnimation 2s forwards;

    

}

@keyframes cssAnimation {

    0%   {color:dodgerblue;

            transform:translateY(-60%);

            

             }

     

    90%  {color:springgreen;

              transform:translateY(0%);

              }

    100% {color:green;
            transform:translateY(30%); }

}

@-webkit-keyframes cssAnimation {

    0%   {color:dodgerblue;

            transform:translateY(-60%);

            }

    90%  {color:springgreen;
        transform:translateY(0%);
           }

    100% {color:green;
          transform:translateY(30%);}

}

